.topNavContainer {
    background-color: #03484D;
}

.topNavContainerInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: #fff;
    
}
.leftPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.categoryAndSearchWrapper {
    display: flex;
    align-items: center;
}
.categoryAndSearchWrapper form {
    display: flex;
}
.categoryAndSearchWrapper select, .categoryAndSearchWrapper input {
    padding: .8rem;
    color: #ABA3A3;
}
.categoryAndSearchWrapper select {
    border-radius: 5px 0 0 5px;
}

.categoryAndSearchWrapper button {
    background-color: #B6B6B6;
    border: none;
    margin-left: -2px;
    border-radius:0 5px 5px 0;
}

.rightPart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: #ffffffa3;
}

.rightPart p {
    margin-block-start: 0.2rem;
    margin-block-end: 0;
    font-size: 13px;
}

.rightPart .call {
    display: flex;
    
}

.icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media only screen and (max-width: 1024px){
    .topNavContainerInner  {
        display: none;
    }
  }