.bottomNavContainer {
  background-color: #0e3b3e;
}

.bottomNavInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.hamburgerMenu {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.leftPart ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.leftPart {
  display: flex;
  align-items: center;
}
.leftPart ul li a {
  color: #fff;
}

.rightPart {
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 1024px){
  .bottomNavContainer  {
      display: none;
  }
}
